    <a
        class="btn btn-<%= btnColor %> mx-1 
            <% if (isDisabled) { %>
                disabled
            <% } %>
        "
        <% if (!isDisabled) { %>
            href="<%= btnLink %>"
        <% } %>
    >
        <%= btnLabel %>
    </a>
