<form
    action="/collection/add" 
    method="POST"
>
    <legend>New Collection</legend>
    <div class="form-group">
        <label class="form-label" for="collection-name">Collection Name</label>
        <input
            class="form-control"
            id="collection-name"
            name="collectionName"
            type="text"
            placeholder="Ex: author, editor, post"
            required
            <% if (isEditing || isDeleting) { %>
                disabled
            <% } %>
        />
    </div>
        
    <div>
        <button 
        class="btn btn-success mt-auto" 
        type="submit" 
        <% if (isEditing || isDeleting) { %>
            disabled
        <% } %>
        >
            Save
        </button>
    </div>   
</form>