<form
    action="/collection/add" 
    method="POST"
>
    <legend>New Collection</legend>
    <div class="form-group">
        <label class="form-label" for="collection-name">Collection Name</label>
        <input
            class="
                form-control 
                <% if (duplicateName) { %> 
                    is-invalid 
                <% } %>
            "
            id="collection-name"
            name="collectionName"
            type="text"
            placeholder="Ex: author, editor, post"
            required
            <% if (isEditing || isDeleting) { %>
                disabled
            <% } %>
        />
        <% if (duplicateName) { %>
            <div class="invalid-feedback">Collection name, <%= collectionName %> is already taken.</div>
        <% } %>
    </div>
        
    <div>
        <button 
        class="btn btn-success mt-auto" 
        type="submit" 
        <% if (isEditing || isDeleting) { %>
            disabled
        <% } %>
        >
            Save
        </button>
    </div>   
</form>