<form 
    class="form-inline mb-3" 
    action="/collection/add" 
    method="POST"
>
    <legend>Create New Collection</legend>
    <label class="mr-2" for="collection-name">Collection Name:</label>
    <input
        class="form-control"
        id="collection-name"
        name="collectionName"
        type="text"
        placeholder="Ex: Author, Editor, Post"
        required
        <% if (isEditing || isDeleting) { %>
            disabled
        <% } %>
    />
    <button 
        class="btn btn-success ml-2" 
        type="submit" 
        <% if (isEditing || isDeleting) { %>
            disabled
        <% } %>
    >
        Save
    </button>
</form>