<div class="form-group">
	<label class="form-label" for="field-label">Label</label>
	<input
		class="form-control"
		type="text"
		name="label"
		id="field-label"
		value="<%= field.config.label %>"
		placeholder="ex: Title, Author"
		required
	/>
</div>
