    <div class="form-group">
        <label 
            class=col-form-label" 
            for="field-label"
        >
            Label
        </label>
        <input
            class="form-control"
            type="text"
            name="label"
            id="field-label"
            value="<%= field.config.label %>"
            placeholder="ex: Publication Date, Sale Dates"
            required
        />
    </div>