
    <div class="form-group">
        <label class="col-form-label" for="field-key">
            Key
        </label>
        <input 
            class="form-control"
            type="text"
            name="fieldKey"
            id="field-key"
            value="<%= field.config.key %>"
            placeholder="text or numerical value"
            required
        />
    </div>

    <div class="form-group">
        <label class="col-form-label" for="field-value">
            Value
        </label>
        <input 
            class="form-control"
            type="text"
            name="fieldValue"
            id="field-value"
            value="<%= field.config.value %>"
            placeholder="text or numerical value"
            required
        />
    </div>