<form class="mt-4 ml-4" method="POST" action="/field/edit/<%= field.id %>">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="field-label">Label</label>
		<div class="col-sm-4">
			<input
				class="form-control"
				type="text"
				name="label"
				id="field-label"
				value="<%= field.config.label %>"
				placeholder="ex: Categories"
				required
			/>
		</div>
    </div>

    <div class="form-group row">
		<label class="col-sm-2 col-form-label" for="field-options">Options</label>
		<div class="col-sm-4">
			<input
				class="form-control"
				type="text"
				name="options"
				id="field-options"
				value="<%= field.config.options %>"
				placeholder="ex: Option1, Option2, Option3"
				required
			/>
		</div>
    </div>
    
    

    <div class="form-group row">
        <button class="btn btn-success ml-3 mt-3" type="submit">
            save &amp; exit
        </button>
    </div>
</form>
