
    <div class="form-group">
		<label class="col-form-label" for="field-label">Label</label>
        <input
            class="form-control"
            type="text"
            name="label"
            id="field-label"
            value="<%= field.config.label %>"
            placeholder="Ex: price"
            required
        />
    </div>

	<div class="form-group">
		<label class="col-form-label" for="field-min">Min Value</label>
        <input
            class="form-control"
            type="number"
            name="minValue"
            id="field-min"
            value="<%= field.config.minValue %>"
            placeholder="Minimum numerical value"
        />
    </div>
    
    <div class="form-group">
        <label class="col-form-label" for="field-max">
            Max Value
        </label>
        <input 
            class="form-control"
            type="number"
            name="maxValue"
            id="field-max"
            value="<%= field.config.maxValue %>"
            placeholder="Maximum numerical value"
        />
    </div>

	<div class="form-group">
		<label class="col-form-label" for="field-step">
			Step
        </label>
        <input 
            class="form-control"
            type="number"
            name="step"
            id="field-step"
            value="<%= field.config.step %>"
            placeholder="Whole number or decimal"
            step="0.01"
        />
    </div>

