    <div class="form-group">
        <label class="col-form-label" for="field-value">
            Value
        </label>
        <input 
            class="form-control"
            type="text"
            name="value"
            id="field-value"
            value="<%= field.config.value %>"
            placeholder="text or numerical value"
            required
        />
    </div>